# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3

# Virtual environments
retanoenv/
venv/
env/
.venv/

# Environment variables
.env

# Media & static (local)
media/
staticfiles/

# OS / Editor
.DS_Store
Thumbs.db

# IDEs 
.vscode/
.idea/
*.swp

# Docker
*.tar

# Allow React production build
!frontend/dist/
!frontend/dist/**
